{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
    Profile
{% endblock %}

{% block styles %}
    {{ super() }}
{#    <link rel="stylesheet" href="{{ url_for('.static', filename='css/bootstrap.min.css') }}">#}
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/signin.css') }}">
{% endblock %}

{% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('dashboard') }}">Silk Road</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
                    <li><a href="{{ url_for('account') }}">Account</a></li>
                    <li><a href="{{ url_for('profile') }}">Add item</a></li>
                    <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
         <div class="form-signin">
            <h2 class="form-signin-heading">User profile</h2>
            <p>Username: <strong>{{ username }}</strong> </p>
            <p>Silkcoins: <strong>{{ coins }} </strong> </p>
             <form method="POST" action="/create_item">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Create item</button>
             </form>
             <br>
             <form method="POST" action="/add_gold">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Deposit money</button>
             </form>
        </div>

    </div> <!-- /container -->
{% endblock %}